.underline {
  text-decoration: underline;
  text-underline-offset: 3.52px;
}

body {
  top: 0;
  width: 100%;
  background-color: #F4F4F4;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.hidden {
  visibility: hidden;
  height: 0px !important;
}

.wrappers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 64vh;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: #F4F4F4;
  font-size: 14.4px;
}

.header-wrapper {
  padding: 19vh 9vw 0 9vw;
  display: flex;
  gap: 10%;
  flex-direction: row;
}

.visible-wrapper {
  width: 45%;
  justify-content: flex-end;
}

.hidden-wrapper {
  width: 45%;
}

.about_name, .contacts_name {
  font-size: 17.6px;
}

.counter_wrapper {
  line-height: 18.4px;
}

.contacts_article, .about_article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.name {
  font-size: 19.2px;
  width: fit-content;
  margin-bottom: auto;
}

.name.fixed {
  font-size: 17.6px;
}

.about, .contact, .counter_wrapper {
  width: fit-content;
}

#about-btn, #contact-btn {
  cursor: pointer;
}

.scroll {
  text-decoration: underline;
  text-underline-offset: 3.52px;
  cursor: pointer;
}

#about-btn {
  margin-bottom: 2vh;
}

#contact-btn {
  margin-bottom: 64px;
}

.fixed-wrapper {
  position: fixed;
  z-index: 1;
  color: #F4F4F4;
  font-size: 14.4px;
  padding: 23vh 9vw 0 9vw;
  width: fit-content;
  height: 64vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #F4F4F4;
}

.images_wrapper {
  width: 54%;
  align-self: flex-end;
  padding: 25vh 8.5vw 25vh 0vw;
  display: flex;
  flex-direction: column;
  gap: 35vh;
}

img {
  width: 100%;
  z-index: 3;
}

@media screen and (max-width: 900px) {
  .images_wrapper {
    width: 95%;
    align-self: center;
    padding-left: 0;
    padding-right: 0;
    gap: 20vh;
  }

  .wrappers {
    height: 80vh;
  }

  .header-wrapper {
    padding: 10vh 2vw;
    height: fit-content;
  }
}