$fs: 16px
$ori: 1vh


html
    height: fill-available
    height: -webkit-fill-available

.underline
    text-decoration: underline
    text-underline-offset: 0.22 * $fs

a
    color: inherit
    text-decoration: none
    -webkit-user-drag: none

body
    top: 0
    width: 100vw
    max-width: 100%
    background-color: #F4F4F4
    color: black
    // font-family: 'Sohne Buch', Georgia, serif
    // font-family: 'Ubuntu Mono', monospace
    font-family: 'Noto Sans JP', sans-serif
    font-style: normal
    font-weight: 400
    line-height: normal
    text-transform: uppercase

.hidden
    visibility: hidden
    height: 0px !important
    width: 0px !important


.wrappers
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 64vh

.header
    position: absolute
    width: 100%
    height: 100vh
    z-index: 2
    background-color: #F4F4F4
    font-size: 0.9 * $fs
    top: 0
    
.header-wrapper
    padding: 20vh 10% 0 10%
    display: flex
    gap: 10%
    flex-direction: row
    width: 80%
    
    
    
    
.visible-wrapper
    width: 45%
    justify-content: flex-end

.hidden-wrapper
    // visibility: hidden
    width: 45%
    flex-shrink: 0.1

.about_name, .contacts_name
    font-size: $fs * 1.1
    text-transform: uppercase

.counter_wrapper
    line-height: 1.15 * $fs


.contacts_article, .about_article
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    text-transform: none

.name
    font-size: 1.2 * $fs
    width: fit-content
    margin-bottom: auto
    // font-family: 'Sohne Buch', Georgia, serif

.fixed-wrapper
    position: sticky
    // top: 25vh
    left: 10vw
    // margin: 0
    z-index: 5
    color: #F4F4F4
    font-size: 0.9 * $fs
    width: fit-content
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: fill-available
    min-height: -webkit-fill-available
    top: 20vh

.name.fixed
    font-size: 1.1 * $fs
    position: relative


.counter_wrapper.fixed
    // bottom: 16%
    position: relative

.about, .contact, .counter_wrapper
    // margin-left: 9vw
    position: relative
    width: fit-content


#about-btn, #contact-btn
    cursor: pointer

.scroll
    text-decoration: underline
    text-underline-offset: 0.22 * $fs
    cursor: pointer

.scroll:hover


#about-btn
    margin-bottom: 2 * $ori

#contact-btn
    margin-bottom: 4 * $fs



.main
    display: flex
    flex-direction: column
    background-color: black
    color: #F4F4F4
    width: 100%


.images_wrapper
    width: 54%
    align-self: flex-end
    padding: 25vh 8.5vw 25vh 0vw

    display: flex
    flex-direction: column
    gap: 35vh
    



img
    width: 100%
    z-index: 3






@media screen and (max-width: 900px)
    .images_wrapper
        width: 88%
        align-self: flex-start
        padding: 20vh 2vw 15vh 2vw
        gap: 20vh

    .name 
        margin-bottom: auto

    .wrappers
        height: 60vh

    .header-wrapper
        padding: 10vh 2vw
        height: fit-content
        width: 96vw

    .hidden-wrapper
        width: 0
        height: 0
        visibility: hidden

    .mobile_article-wrapper.hidden
        visibility: inherit
        height: 50%
        width: 100%

    .mobile_article-wrapper
        padding: 20% 0
        width: 90vw
        // overflow: scroll

    .mobile_article-wrapper > .about_article, .mobile_articles-wrapper > .contacts_article
        // padding: 10% 0
    
    .fixed-wrapper
        padding: 0
        top: 10vh
        height: 80vh
        left: 2vw

    .visible-wrapper
        width: 100%
        height: 80vh

