:root {
  --fs: 1vmax;
}

html {
  height: fill-available;
  height: -webkit-fill-available;
}

.btn {
  width: fit-content;
}

.underline {
  text-decoration: underline;
  text-underline-offset: calc( var(--fs) * 0.22);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-user-drag: none;
}

body {
  top: 0;
  width: 100vw;
  max-width: 100%;
  background-color: #F4F4F4;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.hidden {
  visibility: hidden;
  height: 0px !important;
  width: 0px !important;
  display: none;
}

.wrappers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 64vh;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: #F4F4F4;
  font-size: calc( var(--fs) * 0.9);
}

.header-wrapper {
  padding: 20vh 10% 0 10%;
  display: flex;
  gap: 10%;
  flex-direction: row;
  width: 80%;
}

.visible-wrapper {
  width: 45%;
  justify-content: flex-end;
}

.hidden-wrapper {
  width: 45%;
  flex-shrink: 0.1;
}

.about_name, .contacts_name {
  font-size: calc( var(--fs) * 1.1);
  text-transform: uppercase;
}

.contacts_article, .about_article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-transform: none;
}

.name {
  font-size: calc( var(--fs) * 1.2);
  width: fit-content;
  margin-bottom: auto;
}

.fixed-wrapper {
  position: fixed;
  height: 84dvh;
  left: 10vw;
  z-index: 1;
  color: #F4F4F4;
  font-size: calc( var(--fs) * 0.9);
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name.fixed {
  font-size: calc( var(--fs) * 1.1);
  margin-top: 20vh;
}

.about, .contact, .counter_wrapper {
  position: relative;
  width: fit-content;
}

#about-btn, #contact-btn {
  cursor: pointer;
}

.scroll {
  text-decoration: underline;
  text-underline-offset: 0.22vmax;
  cursor: pointer;
}

#contact-btn {
  margin-bottom: calc( var(--fs) * 4);
}

.main {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #F4F4F4;
  width: 100%;
}

.images_wrapper {
  width: 54%;
  align-self: flex-end;
  padding: 25vh 8.5vw 25vh 0vw;
  display: flex;
  flex-direction: column;
  gap: 35vh;
}

img {
  width: 100%;
  z-index: 3;
}

@media screen and (max-width: 900px) {
  :root {
    --fs: 2vmax;
  }

  .images_wrapper {
    width: 88%;
    align-self: flex-start;
    padding: 20vh 2vw 15vh 2vw;
    gap: 20vh;
  }

  .counter_wrapper.fixed {
    margin-bottom: 10dvh;
  }

  .name.fixed {
    margin-top: 10dvh;
  }

  .header-wrapper {
    padding: 10vh 2vw;
    height: 80%;
    width: 95vw;
  }

  .hidden-wrapper {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .mobile_article-wrapper.hidden {
    visibility: inherit;
    height: 50%;
    width: 100%;
  }

  .mobile_article-wrapper {
    margin: auto 0;
    width: 90vw;
  }

  .fixed-wrapper {
    padding: 0;
    height: 100vh;
    left: 2vw;
  }

  .visible-wrapper {
    width: 100%;
    height: 100%;
  }
}